.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c78f22;
}

.error-indicator img {
    margin-bottom: 1rem;
}

.ant-alert {
    font-size: 24px;
    width: 500px;
    margin-right: 50px;
}

@media screen and (max-width: 1165px) {
    .error-indicator {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #c78f22;
    }

    .error-indicator img {
        margin-bottom: 1rem;
    }

    .ant-alert {
        font-size: 20px;
        width: 400px;
        margin: auto;
    }
}