.body {
    height: 100%;
    font-family: Lato, sans-serif;
    background-size: cover;
    background-image: url(./rAiYTfKGqDCRIIqo664sY9XZIvQ.jpg);
    background-repeat: no-repeat;
    display: flex;
}

#root {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0));
}