.searchInput {
    width: 500px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    padding-top: 10px;
    /* margin: auto; */
    margin-top: 15px;

    -webkit-transition: background .55s ease;
    -moz-transition: background .55s ease;
    -ms-transition: background .55s ease;
    -o-transition: background .55s ease;
    transition: background .55s ease;
}

.searchInput-search {
    width: 500px;
    height: 60px;
    background: white;
    border: none;
    font-size: 18px;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.searchInput-search::-webkit-input-placeholder {
    color: #65737e;
}

.searchInput-search:-moz-placeholder {
    /* Firefox 18- */
    color: #65737e;
}

.searchInput-search::-moz-placeholder {
    /* Firefox 19+ */
    color: #65737e;
}

.searchInput-search:-ms-input-placeholder {
    color: #65737e;
}

.searchInput .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: -5px;
    z-index: 1;
    color: #4f5b66;
}

.searchInput-search:hover,
.searchInput-search:focus,
.searchInput-search:active {
    outline: none;
    background: whitesmoke
}